In [1]:
import pandas as pd

# Load processed data
df = pd.read_csv("../data/processed/dataset.csv")

df.head()

,year,arealand_sqmi,education_b15003_001e,education_b15003_lt9th,education_b15003_9th_to_12thnodiploma,education_b15003_hsgrad_and_ged,education_b15003_somecollegenodegree,education_b15003_021e,education_b15003_022e,education_b15003_gradprofdegree,...,population_s1810_c01_060e,population_s1810_c01_064e,population_s1810_c01_067e,population_s1810_c02_019e,population_s1810_c02_029e,population_s1810_c02_039e,population_s1810_c02_047e,Shape_Length,Shape_Area,shape_wkt
0,2025.0,1.377620,18341.0,334.843644,193.926605,2594.833214,1098.593563,596.635956,7997.233833,5524.933191,...,283.110,724.139,308.814,328.980,481.214,1641.274,773.685,0.113841,0.000390,NaN
1,2025.0,0.511202,14235.0,118.099429,50.905669,718.195275,586.067360,220.801314,5876.562967,6664.367987,...,197.736,138.935,336.164,315.616,246.043,756.821,490.281,0.054831,0.000145,NaN
2,2025.0,0.277307,7537.0,112.768853,19.550000,146.872565,568.415557,140.413713,3079.942032,3467.037278,...,3.726,25.960,3.726,97.057,85.712,168.160,325.606,0.037224,0.000080,NaN
3,2025.0,2.713007,39238.0,1345.894929,1189.355076,3916.307706,2925.411740,1206.391876,15884.339320,12770.299354,...,1249.237,707.979,1815.914,1601.521,1060.961,3494.110,2632.185,0.152514,0.000809,NaN
4,2025.0,1.353655,14997.0,309.443348,565.762779,1999.228235,1068.827911,471.979849,5240.451669,5341.306207,...,192.314,249.761,408.200,578.522,371.963,550.951,904.650,0.110220,0.000521,NaN

In [2]:
# Compute averages of numeric columns
numeric_means = df.select_dtypes("number").mean()

numeric_means.head(10)

year                                      2025.000000
arealand_sqmi                                2.053131
education_b15003_001e                    21405.913043
education_b15003_lt9th                    1349.214889
education_b15003_9th_to_12thnodiploma      962.044307
education_b15003_hsgrad_and_ged           3781.014729
education_b15003_somecollegenodegree      2388.491982
education_b15003_021e                      993.765668
education_b15003_022e                     6229.809178
education_b15003_gradprofdegree           5701.224463
dtype: float64